KAM Family Foundation (KAMFF) is an IRS registered 501c(3). With its donors and volunteers, KAMFF provides grants, operates community-building programs and support studies
  to advance local community benefits and civil engagement in the San Francisco Bay Area and State of California. <br><br>
  The initial focus of KAMFF are:
  <ul>
    <li>Math and Computer science education for local schools - provide math and computer science education, such as classes and tutoring to local school kids</li>
    <li>Annual dance program for local low income kids - provide art education for kids whose families doesn't have the financial resources.</li>
    <li>Support local Library services - To support renovation of existing Los Altos library and expanded services</li>
    <li>Other activities and donations to support scientific research, civic engagement and legal assistance</li>
  </ul>
